.curso-detalle {
  max-width: 90%;
  margin: 2rem ;
  padding: 1rem;
  background: #c1d5ef;
}

.curso-header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.clases-listado {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}