.forms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: #c1d5ef;
  border: 1px solid #ccc;
  max-width: 400px;
  margin: 2rem auto;
  font-family: 'Inter', sans-serif;

}
.boton-formulario {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #1d4ed8;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  
}

.boton-formulario:hover {
  background-color: #c1d5ef;
  border-color: #ffffff;
  box-shadow: 0px 0px 20px -18px;
}

.boton-formulario:active {
  transform: scale(0.95);
}
